{% load static tailwind_tags %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify-opt</title>
    {% tailwind_css %}
    {% load static %}
    <link href="{% static 'css/dist/auth.css' %}" rel="stylesheet">
</head>

<body class="relative min-h-screen overflow-hidden">
    <div class="absolute inset-0 z-0 pointer-events-none">
        <div class="slider">
            <div class="slide bg1"></div>
            <div class="slide bg2"></div>
            <div class="slide bg3"></div>
        </div>
        <div class="absolute inset-0 bg-black/50"></div>
    </div>

    <!-- CONTENT -->
    <div class="relative z-10 min-h-screen flex items-center justify-center px-4">

        <div class="w-full max-w-md bg-white/90 backdrop-blur-md rounded-2xl shadow-xl p-8">

            <!-- TITRE -->
            <h2 class="text-2xl font-bold text-center text-gray-800 mb-2">
                Vérification du compte
            </h2>
            <p class="text-center text-gray-600 text-sm mb-6">
                Entrez le code envoyé à votre adresse email
            </p>

            <!-- MESSAGES DJANGO -->
            {% if messages %}
            {% for message in messages %}
            <div class="mb-4 p-3 rounded-lg text-sm
                        {% if message.tags == 'success' %}
                            bg-green-100 text-green-700
                        {% elif message.tags == 'error' %}
                            bg-red-100 text-red-700
                        {% elif message.tags == 'warning' %}
                            bg-yellow-100 text-yellow-700
                        {% else %}
                            bg-blue-100 text-blue-700
                        {% endif %}
                    ">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <!-- FORM -->
            <form method="POST" class="space-y-5">
                {% csrf_token %}

                <!-- OTP -->
                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                        Code OTP (One Time Password)
                    </label>
                    <input type="text" name="otp" maxlength="6" placeholder="Ex: 123456"
                        class="w-full px-4 text-blue-900 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-900">
                </div>

                {% if otp_code and not otp_code.is_expire %}
                    <!-- SUBMIT -->
                    <button type="submit" name="verify"
                        class="w-full t bg-blue-800 text-white py-2 rounded-lg font-semibold hover:bg-blue-900 transition">
                        Vérifier le code
                    </button>

        
                {% else %}
                     <!-- SUBMIT -->
                    <button type="submit" name="resend"
                        class="w-full t bg-blue-800 text-white py-2 rounded-lg font-semibold hover:bg-blue-900 transition">
                        Renvoyer le code
                    </button>
                {% endif %}
            </form>

            <!-- FOOTER -->
            <div class="mt-6 text-center text-sm text-gray-600">
                Le code expire dans
                <span class="font-semib8000old text-red-600">2 minutes</span>
            </div>

        </div>
    </div>
    {% django_browser_reload_script %}
</body>

</html>